@using LuanDonde.Models.ViewModels
@model AssessmentForm
@{
    ViewData["Title"] = "Resultados";
    AssessmentForm obj = new AssessmentForm();
    obj = Model;
    string teste = "Hellyton";

    // AQUI ESTÃO AS ATRIBUIÇÕES DOS TEXTOS CONFORME SUA PORCENTAGEM
    // RESULTADO FINAL MATURIDADE DIGITAL 
    string textMaturidade1 = "";
    string textMaturidade2 = "";
    string textMaturidade3 = "";
    string textMaturidade4 = "";
    string textMaturidade5 = "";
    string textMaturidade6 = "";
    string textMaturidade7 = "";


    if (obj.MaturidadeDigital <= 20.0)
    {
        textMaturidade1 = "Sua empresa atingiu o nível Ascendente de maturidade digital, indicando um progresso significativo na jornada de transformação digital. Para continuar esse crescimento, aqui estão algumas recomendações:";
        textMaturidade2 = "1.Fomente a inovação dentro da empresa.";
        textMaturidade3 = "2.Colabore com startups e parceiros tecnológicos para explorar novas oportunidades e soluções.";
        textMaturidade4 = "3.Assegure que todos os sistemas e processos estejam integrados para uma operação mais fluida e eficiente.";
        textMaturidade5 = "4.Utilize análise avançada de dados para apoiar decisões estratégicas.";
        textMaturidade6 = "5.Invista em programas de capacitação e desenvolvimento para garantir que sua equipe esteja atualizada com as últimas tendências e tecnologias digitais.";
        textMaturidade7 = "Com essas ações, sua empresa estará bem posicionada para alcançar o nível Avançado de maturidade digital.";
    }
    else if (obj.MaturidadeDigital > 20.0 && obj.MaturidadeDigital <= 50.0)
    {
        textMaturidade1 = "Sua empresa está no nível Emergente de maturidade digital, o que demonstra que você já deu os primeiros passos importantes em direção à transformação digital. Para continuar avançando, considere as seguintes recomendações:";
        textMaturidade2 = "1. Desenvolva uma estratégia digital clara que alinhe a transformação digital com os objetivos de negócio. ";
        textMaturidade3 = "2. Envolva a liderança na promoção de uma cultura de inovação.";
        textMaturidade4 = "3. Utilize ferramentas de CRM e análise de dados para entender melhor as necessidades dos clientes e personalizar suas interações.";
        textMaturidade5 = "4. Invista em tecnologias de automação mais avançadas para otimizar seus processos internos. ";
        textMaturidade6 = "5. Integre sistemas para melhorar a eficiência operacional.";
        textMaturidade7 = "Ao focar nessas áreas, sua empresa pode progredir para o nível Ascendente de maturidade digital.";
    }
    else if (obj.MaturidadeDigital > 50.0 && obj.MaturidadeDigital <= 75.0)
    {
        textMaturidade1 = "Sua empresa atingiu o nível Ascendente de maturidade digital, indicando um progresso significativo na jornada de transformação digital. Para continuar esse crescimento, aqui estão algumas recomendações:";
        textMaturidade2 = "1. Fomente a inovação dentro da empresa. ";
        textMaturidade3 = "2. Colabore com startups e parceiros tecnológicos para explorar novas oportunidades e soluções.";
        textMaturidade4 = "3. Assegure que todos os sistemas e processos estejam integrados para uma operação mais fluida e eficiente.";
        textMaturidade5 = "4. Utilize análise avançada de dados para apoiar decisões estratégicas.";
        textMaturidade6 = "5. Invista em programas de capacitação e desenvolvimento para garantir que sua equipe esteja atualizada com as últimas tendências e tecnologias digitais.";
        textMaturidade7 = "Com essas ações, sua empresa estará bem posicionada para alcançar o nível Avançado de maturidade digital.";
    }
    else if (obj.MaturidadeDigital > 75.0 && obj.MaturidadeDigital <= 90.0)
    {
        textMaturidade1 = "Sua empresa está no nível Avançado de maturidade digital, demonstrando uma forte integração e utilização de tecnologias digitais. Para manter esse ímpeto e avançar ainda mais, considere as seguintes recomendações:";
        textMaturidade2 = "1. Continue explorando e implementando tecnologias emergentes como inteligência artificial, aprendizado de máquina e big data para manter a competitividade.";
        textMaturidade3 = "2. Utilize análises preditivas e personalização em tempo real para otimizar a jornada do cliente e aumentar a satisfação.";
        textMaturidade4 = "3. Realize hackathons, crie laboratórios de inovação e fortaleça as parcerias estratégicas para fomentar uma cultura de inovação contínua.";
        textMaturidade5 = " ";
        textMaturidade6 = "";
        textMaturidade7 = "Ao seguir estas direções, sua empresa estará pronta para se tornar um Líder em maturidade digital.";
    }
    else if (obj.MaturidadeDigital > 90.0 && obj.MaturidadeDigital <= 100.0)
    {
        textMaturidade1 = "Parabéns! Sua empresa alcançou o nível Líder de maturidade digital, demonstrando excelência na implementação e utilização de tecnologias digitais. Para manter essa liderança, aqui estão algumas recomendações:";
        textMaturidade2 = "1. Continue a explorar novas tecnologias e tendências emergentes para se manter à frente da concorrência. ";
        textMaturidade3 = "2. Invista em P&D e mantenha parcerias com centros de inovação.";
        textMaturidade4 = "3. Utilize tecnologias de ponta para obter insights precisos e em tempo real, fortalecendo sua capacidade de tomar decisões estratégicas rapidamente.";
        textMaturidade5 = "4. Mantenha e fortaleça a cultura de inovação e excelência dentro da empresa, incentivando continuamente os colaboradores a explorar novas ideias e soluções.";
        textMaturidade6 = "";
        textMaturidade7 = "Sua empresa é um exemplo de sucesso em transformação digital, e a manutenção dessa liderança requer um compromisso contínuo com a inovação e a adaptação às mudanças tecnológicas.";
    }
   
    // TEXTOS DE CULTURA E PESSOAS
    string textCultura = "";
    if (obj.CulturaFinal <= 20.0)
        textCultura = "AA empresa deve começar a desenvolver uma mentalidade digital entre seus colaboradores. Implementar programas de capacitação básica em competências digitais é essencial.";
    else if (obj.CulturaFinal > 20.0 && obj.CulturaFinal <= 50.0)
        textCultura = "Incentivar a colaboração entre equipes e promover treinamentos contínuos em habilidades digitais. Desenvolver uma cultura que valorize a inovação e a adoção de novas tecnologias.";
    else if (obj.CulturaFinal > 50.0 && obj.CulturaFinal <= 75.0)
        textCultura = "Fortalecer a liderança digital e assegurar que os líderes de cada departamento estejam comprometidos com a transformação digital. Promover a colaboração interdepartamental.";
    else if (obj.CulturaFinal > 75.0 && obj.CulturaFinal <= 90.0)
        textCultura = "Manter a cultura de inovação e oferecer treinamentos avançados para manter os colaboradores atualizados com as últimas tendências digitais.";
    else if (obj.CulturaFinal > 90.0 && obj.CulturaFinal <= 100.0)
        textCultura = "Continuar a promover uma cultura de inovação contínua, explorando novas tecnologias e metodologias. Manter os funcionários engajados e incentivados a inovar.";



    // TEXTOS DE EXPERIÊNCIA DO CLIENTE 
    string textExperiencia = "";
    if (obj.ExperienciaFinal <= 20.0)
        textExperiencia = "Começar a coletar feedback dos clientes por meios digitais e implementar um sistema básico de CRM para gerenciar interações com os clientes.";
    else if (obj.ExperienciaFinal > 20.0 && obj.ExperienciaFinal <= 50.0)
        textExperiencia = "Desenvolver uma estratégia digital centrada no cliente, utilizando ferramentas de análise de dados para entender melhor as necessidades dos clientes.";
    else if (obj.ExperienciaFinal > 50.0 && obj.ExperienciaFinal <= 75.0)
        textExperiencia = "Integrar todas as ferramentas de CRM e automatizar processos para oferecer uma experiência de cliente mais fluida e personalizada.";
    else if (obj.ExperienciaFinal > 75.0 && obj.ExperienciaFinal <= 90.0)
        textExperiencia = "Utilizar análises preditivas e personalização em tempo real para otimizar a jornada do cliente e aumentar a satisfação.";
    else if (obj.ExperienciaFinal > 90.0 && obj.ExperienciaFinal <= 100.0)
        textExperiencia = "Inovar continuamente na experiência do cliente, explorando novas tecnologias como inteligência artificial e realidade aumentada para oferecer um serviço excepcional.";

    // TEXTOS DE MERCADO E CONCORRÊNCIA
    string textMercado = "";
    if (obj.MercadoFinal <= 20.0)
        textMercado = "Realizar uma análise de mercado digital inicial e começar a monitorar as atividades dos concorrentes online.";
    else if (obj.MercadoFinal > 20.0 && obj.MercadoFinal <= 50.0)
        textMercado = "Desenvolver um sistema de inteligência competitiva digital para monitorar tendências e atividades dos concorrentes, ajustando as estratégias conforme necessário.";
    else if (obj.MercadoFinal > 50.0 && obj.MercadoFinal <= 75.0)
        textMercado = "Implementar ferramentas avançadas de análise de mercado e concorrência para obter insights mais profundos e tomar decisões mais informadas.";
    else if (obj.MercadoFinal > 75.0 && obj.MercadoFinal <= 90.0)
        textMercado = "Utilizar análise preditiva e inteligência artificial para antecipar movimentos de mercado e tendências competitivas, mantendo-se à frente dos concorrentes.";
    else if (obj.MercadoFinal > 90.0 && obj.MercadoFinal <= 100.0)
        textMercado = "Continuar a inovar nas estratégias de mercado, explorando novas tecnologias e metodologias para manter a liderança no mercado.";

    // TEXTOS DE INOVAÇÃO
    string textInovacao = "";
    if (obj.InovacaoFinal <= 20.0)
        textInovacao = "Iniciar um programa de inovação digital, incentivando a geração de ideias e experimentação com novas tecnologias.";
    else if (obj.InovacaoFinal > 20.0 && obj.InovacaoFinal <= 50.0)
        textInovacao = "Desenvolver uma estratégia de inovação digital clara e colaborar com startups e parceiros tecnológicos para impulsionar a inovação.";
    else if (obj.InovacaoFinal > 50.0 && obj.InovacaoFinal <= 75.0)
        textInovacao = "Estruturar um processo formal de inovação, incluindo pipelines de ideias, testes piloto e métricas de sucesso para avaliar as iniciativas de inovação.";
    else if (obj.InovacaoFinal > 75.0 && obj.InovacaoFinal <= 90.0)
        textInovacao = "Promover hackathons, laboratórios de inovação e parcerias estratégicas para fortalecer a cultura de inovação dentro da empresa.";
    else if (obj.InovacaoFinal > 90.0 && obj.InovacaoFinal <= 100.0)
        textInovacao = "Manter o ritmo de inovação explorando continuamente tecnologias emergentes e mantendo parcerias estratégicas com centros de pesquisa e desenvolvimento.";

    // TEXTOS DE PROCESSOS
    string textProcessos = "";
    if (obj.ProcessosFinal <= 20.0)
        textProcessos = "Mapear e digitalizar os processos internos, introduzindo sistemas básicos de automação para melhorar a eficiência operacional.";
    else if (obj.ProcessosFinal > 20.0 && obj.ProcessosFinal <= 50.0)
        textProcessos = "Desenvolver uma estratégia de digitalização completa e investir em tecnologias de automação de processos para integrar e otimizar os processos internos.";
    else if (obj.ProcessosFinal > 50.0 && obj.ProcessosFinal <= 75.0)
        textProcessos = "Integrar sistemas e processos para garantir uma operação mais fluida e eficiente, eliminando redundâncias e melhorando a comunicação entre departamentos.";
    else if (obj.ProcessosFinal > 75.0 && obj.ProcessosFinal <= 90.0)
        textProcessos = "Continuar a otimizar e automatizar processos, utilizando tecnologias avançadas como inteligência artificial e aprendizado de máquina para melhorar a eficiência operacional.";
    else if (obj.ProcessosFinal > 90.0 && obj.ProcessosFinal <= 100.0)
        textProcessos = "A empresa tem excelência em processos, com sistemas totalmente integrados e automatizados. Há um foco constante em inovação e melhoria de processos, buscando a máxima eficiência e eficácia.";

    // TEXTOS DE MODELOS DE NEGÓCIO
    string textModelos = "";
    if (obj.ModelosFinal <= 20.0)
        textModelos = "Analisar o modelo de negócio atual e identificar oportunidades de digitalização e inovação para adaptálo ao contexto digital.";
    else if (obj.ModelosFinal > 20.0 && obj.ModelosFinal <= 50.0)
        textModelos = "Desenvolver uma estratégia clara para transformar o modelo de negócio, utilizando tecnologias digitais para criar novos fluxos de receita e melhorar a competitividade.";
    else if (obj.ModelosFinal > 50.0 && obj.ModelosFinal <= 75.0)
        textModelos = "Continuar a adaptar e inovar no modelo de negócio, integrando tecnologias digitais de maneira mais abrangente para aumentar a eficiência e criar novas oportunidades.";
    else if (obj.ModelosFinal > 75.0 && obj.ModelosFinal <= 90.0)
        textModelos = "Investir em novos modelos de negócio digitais e explorar parcerias estratégicas para ampliar o alcance e impacto da empresa no mercado digital.";
    else if (obj.ModelosFinal > 90.0 && obj.ModelosFinal <= 100.0)
        textModelos = "Manter a liderança inovando continuamente no modelo de negócio, explorando novas tecnologias e tendências para se manter competitivo e relevante no mercado.";


    // TEXTOS DE DADOS E ANÁLISES
    string textDados = "";
    if (obj.DadosFinal <= 20.0)
        textDados = "Começar a coletar e organizar dados relevantes, introduzindo ferramentas básicas de análise de dados para apoiar a tomada de decisões.";
    else if (obj.DadosFinal > 20.0 && obj.DadosFinal <= 50.0)
        textDados = "Desenvolver uma estratégia de gestão de dados e investir em ferramentas de análise de dados mais avançadas para melhorar a qualidade e a integração dos dados.";
    else if (obj.DadosFinal > 50.0 && obj.DadosFinal <= 75.0)
        textDados = "Integrar todas as fontes de dados e utilizar análises avançadas para obter insights mais profundos e precisos, apoiando decisões estratégicas.";
    else if (obj.DadosFinal > 75.0 && obj.DadosFinal <= 90.0)
        textDados = "Continuar a melhorar a gestão de dados e explorar tecnologias de big data e inteligência artificial para insights ainda mais avançados e melhorias na tomada de decisões.";
    else if (obj.DadosFinal > 90.0 && obj.DadosFinal <= 100.0)
        textDados = "Manter a liderança no uso de dados, utilizando tecnologias de ponta para obter insights precisos e em tempo real, fortalecendo a competitividade e a inovação.";


    // TEXTOS DE TECNOLOGIAS
    string textTecnologias = "";
    if (obj.TecnologiaFinal <= 20.0)
        textTecnologias = "Investir em tecnologias básicas de digitalização e automação para melhorar a eficiência operacional e começar a explorar novas soluções digitais.";
    else if (obj.TecnologiaFinal > 20.0 && obj.TecnologiaFinal <= 50.0)
        textTecnologias = "Desenvolver uma estratégia tecnológica abrangente e investir em tecnologias que possam trazer melhorias significativas para os processos e produtos da empresa.";
    else if (obj.TecnologiaFinal > 50.0 && obj.TecnologiaFinal <= 75.0)
        textTecnologias = "Integrar tecnologias existentes e explorar novas soluções digitais que possam agregar valor ao negócio, aumentando a eficiência e a competitividade.";
    else if (obj.TecnologiaFinal > 60.0 && obj.TecnologiaFinal <= 90.0)
        textTecnologias = "Continuar a investir em tecnologias de ponta e manter-se atualizado com as últimas tendências tecnológicas para garantir a liderança e a inovação contínua.";
    else if (obj.TecnologiaFinal > 90.0 && obj.TecnologiaFinal <= 100.0)
        textTecnologias = "Manter a liderança tecnológica explorando continuamente novas tecnologias emergentes e inovando constantemente para se manter à frente da concorrência no mercado digital.";


    string textSetor1 = "";
    string textSetor2 = "";
    string textSetor3 = "";
    string textSetor4 = "";
    string textSetor5 = "";

    if (obj.CompanySector.ToLower() == "educação")
    {
        textSetor1 = "Implementar ferramentas de software de gerenciamento de projetos acessíveis e adaptadas para MPEs.  Utilizar aplicativos móveis para monitoramento de obras e comunicação entre equipes.  Adotar tecnologias de realidade aumentada para visualização de projetos.";
        // textSetor1 = "1. Plataformas de Aprendizagem Online: Desenvolva ou adote plataformas de e-learning para fornecer educação acessível e flexível.";
        // textSetor2 = "2. Tecnologias Interativas: Integre tecnologias como realidade aumentada(AR) e virtual (VR) para enriquecer a experiência de aprendizagem.";
        // textSetor3 = "3. Análise de Dados Educacionais: Utilize dados para personalizar o aprendizado e melhorar os métodos de ensino.";
        // textSetor4 = "4. Capacitação Digital de Professores: Invista na formação de professores para o uso eficaz de ferramentas digitais.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "educação")
    {
        textSetor1 = " Integrar plataformas de elearning gratuitas ou de baixo custo para ensino à distância.  Utilizar ferramentas de videoconferência e colaboração online para aulas interativas.  Oferecer conteúdos digitais e recursos educacionais abertos (REA) para os Luans.";
        // textSetor1 = "1. Bancos Digitais e Mobile Banking: Desenvolva soluções de bancos digitais para oferecer serviços financeiros acessíveis e convenientes.";
        // textSetor2 = "2. Segurança e Conformidade: Assegure a conformidade com regulamentos financeiros digitais e invista em segurança cibernética.";
        // textSetor3 = "3. Big Data e IA para Análise Financeira: Use big data e inteligência artificial para análise de risco, previsão de mercado e personalização de serviços.";
        // textSetor4 = "4. Blockchain para Transparência: Explore o uso de blockchain para maior transparência e eficiência em transações.";
        // textSetor5 = "";

    }
    else if (obj.CompanySector.ToLower() == "contabilidade")
    {
        textSetor1 = "Automatizar processos contábeis básicos com softwares acessíveis.  Utilizar ferramentas de gestão financeira para monitoramento de despesas e receitas.  Implementar sistemas de armazenamento em nuvem para segurança e acesso fácil aos dados.";
        // textSetor1 = "1. Software de Contabilidade em Nuvem: Adote soluções em nuvem para contabilidade, para eficiência, acessibilidade e colaboração.";
        // textSetor2 = "2. Automação de Processos: Implemente a automação para tarefas repetitivas, melhorando a precisão e a eficiência.";
        // textSetor3 = "3. Análise Preditiva: Utilize a análise preditiva para fornecer insights financeiros e aconselhamento estratégico aos clientes.";
        // textSetor4 = "4. Educação Continuada em Tecnologia: Mantenha os profissionais atualizados sobre novas tecnologias e práticas do setor.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "saúde")
    {
        textSetor1 = "Adotar sistemas de prontuário eletrônico gratuitos ou de baixo custo.  Utilizar telemedicina para consultas e acompanhamento de pacientes.  Implementar aplicativos móveis para comunicação direta com pacientes.";
        // textSetor1 = "1. Prontuários Eletrônicos: Implemente sistemas de prontuários eletrônicos para melhorar o acesso à informação do paciente e a coordenação do cuidado.";
        // textSetor2 = "2. Telemedicina: Adote a telemedicina para expandir o acesso aos cuidados de saúde, especialmente em áreas remotas.";
        // textSetor3 = "3. Análise de Big Data para Cuidados Preventivos: Utilize análise de dados para pesquisas e para desenvolver estratégias de cuidados preventivos.";
        // textSetor4 = "4. Dispositivos Médicos Conectados: Integre dispositivos médicos conectados para monitoramento contínuo e melhor gestão da saúde do paciente.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "tecnologia")
    {
        textSetor1 = "Investir em plataformas de desenvolvimento opensource para inovação com baixo custo.  Utilizar metodologias ágeis para gestão de projetos de TI.  Implementar soluções de armazenamento em nuvem para reduzir custos operacionais.";
        // textSetor1 = "1. Inovação Contínua: Mantenha-se na vanguarda das tendências tecnológicas, investindo constantemente em pesquisa e desenvolvimento.";
        // textSetor2 = "2. Parcerias Estratégicas: Colabore com universidades, startups e outras empresas para impulsionar a inovação.";
        // textSetor3 = "3. Cultura Ágil e Flexível: Adote uma cultura empresarial que valorize a agilidade, a experimentação e a adaptação rápida às mudanças.";
        // textSetor4 = "4. Foco no Usuário: Desenvolva produtos e serviços com uma forte orientação para as necessidades e experiências do usuário.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "indústria")
    {
        textSetor1 = "Adotar ferramentas de IoT acessíveis para monitoramento de processos de fabricação.  Utilizar análise de dados para otimização de produção e manutenção preventiva.  Implementar softwares de ERP adaptados às necessidades das PMEs.";
        // textSetor1 = "1. Manufatura Inteligente: Implemente soluções de manufatura inteligente, como a Internet das Coisas (IoT) e automação, para aumentar a eficiência da produção.";
        // textSetor2 = "2. Cadeia de Suprimentos Digitalizada: Digitalize a cadeia de suprimentos para melhor visibilidade e gestão.";
        // textSetor3 = "3. Manutenção Preditiva: Utilize a manutenção preditiva para prever falhas e otimizar a manutenção de equipamentos.";
        // textSetor4 = "4. Sustentabilidade e Inovação: Concentre-se em soluções sustentáveis e inovadoras para atender às demandas de um mercado consciente.";
        // textSetor5 = "";

    }
    else if (obj.CompanySector.ToLower() == "serviços")
    {
        textSetor1 = "Utilizar plataformas digitais para agendamento e gerenciamento de clientes.  Implementar ferramentas de CRM para melhorar o relacionamento com os clientes.  Adotar estratégias de marketing digital para aumentar a visibilidade e engajamento.";
        // textSetor1 = "1. Digitalização do Atendimento ao Cliente: Implemente soluções digitais para melhorar a eficiência e a qualidade do atendimento ao cliente.";
        // textSetor2 = "2. Soluções Baseadas em Nuvem: Adote soluções baseadas em nuvem para fornecer serviços acessíveis e escaláveis.";
        // textSetor3 = "3. Analytics para Melhorar Serviços: Use análise de dados para entender melhor as necessidades dos clientes e personalizar os serviços.";
        // textSetor4 = "4. Automatização de Tarefas: Automatize tarefas administrativas para aumentar a eficiência operacional.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "transporte")
    {
        textSetor1 = "Adotar sistemas de rastreamento acessíveis para logística e transporte.  Utilizar análise de dados para otimização de rotas e redução de custos.  Implementar plataformas digitais para gestão de frota e comunicação com motoristas.";
        // textSetor1 = "1. Tecnologia para Eficiência Logística: Implemente sistemas de gerenciamento de frota e soluções GPS para otimizar rotas e reduzir custos.";
        // textSetor2 = "2. Veículos Autônomos e Drones: Explore o uso de veículos autônomos e drones para entrega e logística.";
        // textSetor3 = "3. Sistemas de Bilhetagem Digital: Adote sistemas de bilhetagem e pagamento digital para facilitar a experiência do usuário.";
        // textSetor4 = "4. Sustentabilidade: Invista em tecnologias sustentáveis, como veículos elétricos e melhorias de eficiência de combustível.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "varejo")
    {
        textSetor1 = "Integrar plataformas de ecommerce para expandir a presença online.  Utilizar análise de dados para personalização da experiência do cliente.  Adotar tecnologias de pagamento digital para maior conveniência e segurança.";
        // textSetor1 = "1. E-commerce e Omnicanalidade: Desenvolva estratégias de e-commerce e omnicanal para oferecer uma experiência de compra sem costura.";
        // textSetor2 = "2. Personalização com IA: Use inteligência artificial para personalizar a experiência de compra e recomendar produtos.";
        // textSetor3 = "3. Gerenciamento de Inventário Digital: Adote sistemas avançados de gerenciamento de inventário para melhor precisão e eficiência.";
        // textSetor4 = "4. Realidade Aumentada para Experiência de Compra: Implemente realidade aumentada para oferecer experiências de compra interativas e envolventes.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "imobiliário")
    {
        textSetor1 = "Utilizar realidade virtual e aumentada para visualização de propriedades.  Implementar CRM para gestão de clientes e leads.  Adotar plataformas digitais para transações e gestão de propriedades.";
        // textSetor1 = "1. Realidade Virtual para Visualização de Propriedades: Utilize realidade virtual para tours imersivos em propriedades, melhorando a experiência do cliente.";
        // textSetor2 = "2. Plataformas Digitais para Vendas e Locações: Crie plataformas online para facilitar as transações de compra, venda e locação.";
        // textSetor3 = "3. Big Data para Análise de Mercado: Use big data para analisar tendências do mercado imobiliário e tomar decisões informadas.";
        // textSetor4 = "4. Automatização da Gestão de Propriedades: Implemente soluções automatizadas para gerenciamento de propriedades, incluindo manutenção e pagamentos.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "turismo")
    {
        textSetor1 = "Utilizar plataformas de reserva online para otimização de vendas.  Implementar chatbots para atendimento ao cliente 24/7.  Adotar tecnologias de análise de dados para personalização de ofertas e pacotes turísticos.";
        // textSetor1 = "1. Experiências Virtuais e Realidade Aumentada: Ofereça tours virtuais e experiências de realidade aumentada para atrair turistas.";
        // textSetor2 = "2. Plataformas de Reserva Online: Desenvolva ou integre-se a plataformas de reserva online para facilitar o planejamento de viagens.";
        // textSetor3 = "3. Marketing Digital Focado em Experiências: Utilize o marketing digital para promover destinos e experiências únicas.";
        // textSetor4 = "4. Análise de Dados para Personalização: Use análise de dados para personalizar ofertas e melhorar a experiência de viagem.";
        // textSetor5 = "";
    }
    else if (obj.CompanySector.ToLower() == "finaceiro")
    {
        textSetor1 = "Adotar soluções de contabilidade online para gestão financeira simplificada.  Utilizar ferramentas de análise de dados para tomada de decisão financeira.  Implementar métodos de pagamento digital para facilitar transações.";
        // textSetor1 = "1. Experiências Virtuais e Realidade Aumentada: Ofereça tours virtuais e experiências de realidade aumentada para atrair turistas.";
        // textSetor2 = "2. Plataformas de Reserva Online: Desenvolva ou integre-se a plataformas de reserva online para facilitar o planejamento de viagens.";
        // textSetor3 = "3. Marketing Digital Focado em Experiências: Utilize o marketing digital para promover destinos e experiências únicas.";
        // textSetor4 = "4. Análise de Dados para Personalização: Use análise de dados para personalizar ofertas e melhorar a experiência de viagem.";
        // textSetor5 = "";
    }
    else
    {
        textSetor1 = "";
        textSetor2 = "";
        textSetor3 = "";
        textSetor4 = "";
        textSetor5 = "";
    }






}
<!-- DIV DO RESULTADO PRINCIPAL -->
<div class="row m-0">
    <!--RESULTADO PARTE GRANDE --> 
    <div class="col-sm-7 bg-results-image p-0 align-content-center" style="min-height: 1rem;">
        <div class="bg-gradient-results align-content-center py-2 my-0" style="height:100%;">
            <div class="row mb-0 mt-5 mx-0">
                <h2 class="text-primary text-center text-uppercase mb-0">Seu nível maturidade é:</h2>
            </div>
            <div class="row mt-0 mb-0 mx-0">
                <h1 class="text-primary text-center mt-0" style="font-size:5em;">@obj.MaturidadeDigital.ToString("N0")%</h1>
            </div>

            <div class="m-0 p-0">    
                <div class="m-auto p-0" style="max-width: 70%;">
                    <canvas id="myChart" class="m-auto w-100 h-100" ></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
           
                <script type="text/javascript">
                    const ctx = document.getElementById('myChart');

                    new Chart(ctx, {
                        type: 'radar',
                        data: {
                            labels: [
                                'Cultura e Pessoas',
                                'Experiência do Cliente',
                                'Mercado e Concorrência',
                                'Inovação',
                                'Processos',
                                'Modelos de Negócio',
                                'Dados',
                                'Tecnologias'
                            ],
                            datasets: [{
                                label: 'My First Dataset',
                                data: [@Model.CulturaFinal, 
                                       @Model.ExperienciaFinal, 
                                       @Model.MercadoFinal, 
                                       @Model.InovacaoFinal, 
                                       @Model.ProcessosFinal, 
                                       @Model.ModelosFinal, 
                                       @Model.DadosFinal, 
                                       @Model.TecnologiaFinal],
                                fill: true,
                                backgroundColor: 'rgba(28, 30, 67, 0.5)',
                                borderColor: 'rgb(28, 30, 67)',
                                //pointBackgroundColor: 'rgb(28, 30, 67)',
                                //pointBorderColor: '#fff',
                                //pointHoverBackgroundColor: '#fff',
                                //pointHoverBorderColor: 'rgb(28, 30, 67)'
                            }]
                        },
                        options: {
                            scale: {
                                display: false,
                                r: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: 100,
                                    angleLines: {
                                        color: 'black',
                                    },
                                    grid: {
                                        color: 'black',
                                    },
                                    pointLabels: {
                                        fontSize: 16, // Ajuste o tamanho da fonte conforme necessário
                                        fontColor: 'black', // Cor das labels
                                    },
                                    ticks: {
                                        fontColor: 'rgba(28, 30, 67, 0.5)', // Cor dos ticks
                                    }
                                }
                            },
                            elements: {
                                line: {
                                    borderWidth: 1,
                                    borderColor: 'rgb(0, 0, 0)', // Cor da linha do gráfico
                                }
                            },
                            plugins: {
                                legend: {
                                    display: false,
                                    labels: {
                                        font: {
                                            size: 14,
                                        }
                                    }
                                }
                            }
                        }
                    });
                </script>

            </div>

        </div>
    </div>

    <!-- CARD RESULTADOS -->
    <div class="col-sm-5 px-0 justify-content-center bg-grey">
        <div class="row m-4 text-center text-dark">
            <h4 class="text-primary fw-bold">A transformação já está em ascenção, porém ainda há muito a alcançar.</h4>
        </div>

        <div class="row my-3 mx-0 px-5 justify-content-start gap-2">
            <h2 class="text-primary text-center col-auto mb-0">@obj.CulturaFinal.ToString("N0")%</h2>
            <p class="col-auto align-content-center px-0 mb-0">CULTURA E PESSOAS</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.ExperienciaFinal.ToString("N0")%</h2>
            <p class="col-auto align-content-center px-0 mb-0">EXPERIÊNCIA DO CLIENTE</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.MercadoFinal.ToString("N0")%</h2>
            <p class="col-auto align-content-center px-0 mb-0">MERCADO E CONCORRÊNCIA</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.InovacaoFinal.ToString("N0")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>INOVAÇÃO</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.ProcessosFinal.ToString("N0")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>PROCESSOS</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.ModelosFinal.ToString("N0")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>MODELOS DE NEGÓCIO</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.DadosFinal.ToString("N0")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>DADOS</p>
        </div>
        <div class="row mt-3 mb-5 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.TecnologiaFinal.ToString("N0")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>TECNOLOGIAS</p>
        </div>
        <div class="row mt-3 mb-5 mx-0 px-5 justify-content-center m-auto text-center">
            <button type="button" class="btn btn-primary text-white text-decoration-none fs-4 border-0 px-3 py-3 rounded-4 fw-medium text-white"
                    href="AdminResultsPDF" style="min-width:50%; min-height:20%;">
                    @Html.ActionLink("Gerar PDF", "GerarPdf", "AssessmentForm", @obj)
            </button>
        </div>
        <div class="row mt-3 mb-5 mx-0 px-5 justify-content-center m-auto text-center d-none">
            <button type="button" class="btn btn-outline-primary fs-4 border-0 px-3 py-3 rounded-4 fw-medium text-white"
                    href="AdminResultsPDF" style="min-width:50%; min-height:20%;">
                @Html.ActionLink("Gerar PDF 2", "ExportarPDF", "AssessmentForm", @obj)
            </button>
        </div>
    </div>


</div>


<!-- DIV RESULTADOS CONFORME PORCENTAGENS -->
<div class="col-sm-5 px-0 justify-content-center w-100" style="">
    
    <h2 class="bg-transparent text-uppercase text-primary fw-bolder my-5 text-center m-auto" style="max-width: 80%">
        COM BASE EM SUA RESPOSTAS, AQUI ESTÃO OS RESULTADOS:
    </h2>
    <p class="m-auto fs-5 mb-4" style="max-width: 80%; text-align: justify;">
        Sua instituição alcançou <b>@obj.MaturidadeDigital.ToString("N1")%</b> de maturidade digital. Baseado nessa porcentagem, aqui estão
        algumas recomendações para o seu negócio
    </p>

    <div class="px-5 border-1 border rounded-4 bg-grey text-center m-auto mb-5" style="max-width: 90%;"> 
        <!-- RESULTADO MATURIDADE PRINCIPAL -->
        <h3 class="bg-transparent text-uppercase text-primary fw-bolder my-4 text-center m-auto" style="max-width: 80%">
            Com base na sua Maturidade Digital:
        </h3>
        <p class="m-auto text-wrap" style="text-align: justify;">@textMaturidade1</p>
        <br />
        <p class="m-auto text-wrap" style="text-align: justify;">@textMaturidade2</p>
        <p class="m-auto text-wrap" style="text-align: justify;">@textMaturidade3</p>
        <p class="m-auto text-wrap" style="text-align: justify;">@textMaturidade4</p>
        <p class="m-auto text-wrap" style="text-align: justify;">@textMaturidade5</p>
        <p class="m-auto text-wrap" style="text-align: justify;">@textMaturidade6</p>
        <br />
        <p class="m-auto text-wrap" style="text-align: justify;">@textMaturidade7</p>
        


        <!-- RESULTADO CULTURA E PESSOAS --> 
        <div class="row justify-content-start mt-3 mb-0 mx-0 gap-4" style="max-width: 100%;">

            <div class="col-3 progress m-auto rounded-3 mx-0 px-0 position-relative" style="min-height: 30px; max-width: 100%; background-color: darkgray" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
                <p class="m-0 fs-5 text-white position-absolute top-50 start-50 translate-middle">@obj.CulturaFinal.ToString("N0")%</p>
                <div class="progress-bar bg-primary justify-content-center " style="width: @obj.CulturaFinal%">
                    
                </div>
            </div>
            <h3 class="col-auto bg-transparent text-uppercase text-primary fw-bold fs-6 my-3 mx-0 px-0 text-center m-auto" style="max-width: 80%">
                Cultura e Pessoas
            </h3>
        </div>
        <p class="m-auto" style="text-align: justify;">@textCultura</p>


        <!-- RESULTADO EXPERIÊNCIA DO CLIENTE -->
        <div class="row justify-content-start mt-3 mb-0 mx-0 gap-4 " style="max-width: 100%;">

            <div class="col-3 progress m-auto rounded-3 mx-0 px-0 position-relative " style="min-height: 30px; max-width: 100%;  background-color: darkgray" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
                <p class="m-0 fs-5 text-white position-absolute top-50 start-50 translate-middle">@obj.ExperienciaFinal.ToString("N0")%</p>
                <div class="progress-bar bg-primary justify-content-center " style="width: @obj.ExperienciaFinal%">
                </div>
            </div>
            <h3 class="col-auto bg-transparent text-uppercase text-primary fw-bold fs-6 my-3 mx-0 px-0 text-center m-auto" style="max-width: 80%;">
                Experiência do Cliente
            </h3>
        </div>
        <p class="m-auto" style="text-align: justify;">@textExperiencia</p>


        <!-- RESULTADO MERCADO E CONCORRÊNCIA -->
        <div class="row justify-content-start mt-3 mb-0 mx-0 gap-4 " style="max-width: 100%;">
            <div class="col-3 progress m-auto rounded-3 mx-0 px-0 position-relative" style="min-height: 30px; max-width: 100%; background-color: darkgray" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
                <p class="m-0 fs-5 text-white position-absolute top-50 start-50 translate-middle">@obj.MercadoFinal.ToString("N0")%</p>
                <div class="progress-bar bg-primary justify-content-center " style="width: @obj.MercadoFinal%">
                </div>
            </div>
            <h3 class="col-auto bg-transparent text-uppercase text-primary fw-bold fs-6 my-3 mx-0 px-0 text-center m-auto" style="max-width: 80%">
                Mercado e Concorrência
            </h3>
        </div>
        <p class="m-auto" style="text-align: justify;">@textMercado</p>

        <!-- RESULTADO INOVAÇÃO -->
        <div class="row justify-content-start mt-3 mb-0 mx-0 gap-4 " style="max-width: 100%;">
            <div class="col-3 progress m-auto rounded-3 mx-0 px-0 position-relative" style="min-height: 30px; max-width: 100%; background-color: darkgray" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
                <p class="m-0 fs-5 text-white position-absolute top-50 start-50 translate-middle">@obj.InovacaoFinal.ToString("N0")%</p>
                <div class="progress-bar bg-primary justify-content-center " style="width: @obj.InovacaoFinal%">
                </div>
            </div>
            <h3 class="col-auto bg-transparent text-uppercase text-primary fw-bold fs-6 my-3 mx-0 px-0 text-center m-auto" style="max-width: 80%">
                Inovação
            </h3>
        </div>
        <p class="m-auto" style="text-align: justify;">@textInovacao</p>

        <!-- RESULTADO PROCESSOS -->
        <div class="row justify-content-start mt-3 mb-0 mx-0 gap-4 " style="max-width: 100%;">
            <div class="col-3 progress m-auto rounded-3 mx-0 px-0 position-relative" style="min-height: 30px; max-width: 100%; background-color: darkgray" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
                <p class="m-0 fs-5 text-white position-absolute top-50 start-50 translate-middle">@obj.ProcessosFinal.ToString("N0")%</p>
                <div class="progress-bar bg-primary justify-content-center " style="width: @obj.ProcessosFinal%">
                </div>
            </div>
            <h3 class="col-auto bg-transparent text-uppercase text-primary fw-bold fs-6 my-3 mx-0 px-0 text-center m-auto" style="max-width: 80%">
                Processos
            </h3>
        </div>
        <p class="m-auto" style="text-align: justify;">@textProcessos</p>

        <!-- RESULTADO MODELOS DE NEGÓCIO -->
        <div class="row justify-content-start mt-3 mb-0 mx-0 gap-4 " style="max-width: 100%;">
            <div class="col-3 progress m-auto rounded-3 mx-0 px-0 position-relative" style="min-height: 30px; max-width: 100%; background-color: darkgray" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
                <p class="m-0 fs-5 text-white position-absolute top-50 start-50 translate-middle">@obj.ModelosFinal.ToString("N0")%</p>
                <div class="progress-bar bg-primary justify-content-center " style="width: @obj.ModelosFinal%">
                </div>
            </div>
            <h3 class="col-auto bg-transparent text-uppercase text-primary fw-bold fs-6 my-3 mx-0 px-0 text-center m-auto" style="max-width: 80%">
                Modelos de Negócio
            </h3>
        </div>
        <p class="m-auto" style="text-align: justify;">@textModelos</p>


        <!-- RESULTADO DADOS -->
        <div class="row justify-content-start mt-3 mb-0 mx-0 gap-4 " style="max-width: 100%;">
            <div class="col-3 progress m-auto rounded-3 mx-0 px-0 position-relative" style="min-height: 30px; max-width: 100%; background-color: darkgray" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
                <p class="m-0 fs-5 text-white position-absolute top-50 start-50 translate-middle">@obj.DadosFinal.ToString("N0")%</p>
                <div class="progress-bar bg-primary justify-content-center" style="width: @obj.DadosFinal%">
                </div>
            </div>
            <h3 class="col-auto bg-transparent text-uppercase text-primary fw-bold fs-6 my-3 mx-0 px-0 text-center m-auto" style="max-width: 80%">
                Dados
            </h3>
        </div>
        <p class="m-auto" style="text-align: justify;">@textDados</p>

        <!-- RESULTADO TECNOLOGIAS -->
        <div class="row justify-content-start mt-3 mb-0 mx-0 gap-4 " style="max-width: 100%;">
            <div class="col-3 progress m-auto rounded-3 mx-0 px-0 position-relative" style="min-height: 30px; max-width: 100%; background-color: darkgray" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">
                <p class="m-0 fs-5 text-white position-absolute top-50 start-50 translate-middle">@obj.TecnologiaFinal.ToString("N0")%</p>
                <div class="progress-bar bg-primary justify-content-center tec-progress" style="width: @obj.TecnologiaFinal%">
                </div>
            </div>
            <h3 class="col-auto bg-transparent text-uppercase text-primary fw-bold fs-6 my-3 mx-0 px-0 text-center m-auto" style="max-width: 80%">
                Tecnologias
            </h3>
        </div>
        <p class="m-auto" style="text-align: justify;">@textTecnologias</p>



        <!-- RESULTADO COM BASE NO SETOR -->
        <h3 class="bg-transparent text-uppercase text-primary fw-bolder my-4 text-center m-auto" style="max-width: 80%">
            Algumas recomendações com base em seu setor de negócio: <i class="text-center text-decoration-underline">@obj.CompanySector</i>
        </h3>
        <p class="m-auto text-wrap" style="text-align: justify;">@textSetor1</p>
     @*    <p class="m-auto" style="text-align: justify;">@textSetor2</p>
        <p class="m-auto" style="text-align: justify;">@textSetor3</p>
        <p class="m-auto" style="text-align: justify;">@textSetor4</p> *@


        <br />
        <br />
        <br />
        <br />
    </div>


</div>


<script>

    
</script>