@using LuanDonde.Models.ViewModels
@model AssessmentForm
@{
    ViewData["Title"] = "Resultados";
    AssessmentForm obj = new AssessmentForm();
    obj = Model;
}

<div class="row mw-100 m-0">
    <!--RESULTADO PARTE GRANDE --> 
    <div class="col-sm-7 bg-results-image p-0 align-content-center" style="min-height: 850px">
        <div class="bg-gradient-results align-content-center py-2 my-0" style="height:100%;">
            <div class="row mb-0 mt-5">
                <h2 class="text-primary text-center text-uppercase mb-0">Seu nível maturidade é:</h2>
            </div>
            <div class="row mt-0 mb-0">
                <h1 class="text-primary text-center mt-0" style="font-size:7em;">@obj.MaturidadeDigital.ToString("N1")%</h1>
            </div>

            <div class="my-0 d-none" id="chart"></div>
        </div>
    </div>

    <!-- CARD RESULTADOS -->
    <div class="col-sm-5 px-0 justify-content-center">
        <div class="row m-4 text-center text-dark">
            <h4 class="text-primary fw-bold">A transformação já está em ascenção, porém ainda há muito a alcançar.</h4>
        </div>

        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.CulturaFinal.ToString("N1")%</h2>
            <p class="col-auto align-content-center px-0 mb-0">CULTURA E PESSOAS</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.ExperienciaFinal.ToString("N1")%</h2>
            <p class="col-auto align-content-center px-0 mb-0">EXPERIÊNCIA DO CLIENTE</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.MercadoFinal.ToString("N1")%</h2>
            <p class="col-auto align-content-center px-0 mb-0">MERCADO E CONCORRÊNCIA</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.InovacaoFinal.ToString("N1")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>INOVAÇÃO</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.ProcessosFinal.ToString("N1")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>PROCESSOS</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.ModelosFinal.ToString("N1")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>MODELOS DE NEGÓCIO</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.DadosFinal.ToString("N1")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>DADOS</p>
        </div>
        <div class="row my-3 mx-0 px-5 justify-content-start">
            <h2 class="text-primary text-center col-auto mb-0">@obj.TecnologiaFinal.ToString("N1")%</h2>
            <p class="col-auto align-content-center px-0 mb-0"1>TECNOLOGIAS</p>
        </div>


    </div>


</div>
<script>
   


</script>